@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <p>@Model._logic.player.CurrentRoom.Name</p>

        @*<h1>@Model._logic.player.CurrentRoom.Name</h1>
        @foreach(Model.Room room in Model._logic.player.CurrentRoom.TravelPsbl)
        {
            <a class="btn btn-primary">@room.Name</a>
        }*@
    </div>
