@page
@model RPG.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}

    <div class="text-center">
        <p>@Model.Game.Player.CurrentPlace.Description</p>
        @foreach (string place in Model.Game.Player.CurrentPlace.TravelPsb)
        {
            <p>@place</p>
        }
    </div>
