@page
@model RPG.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <p>@Model.game.player.currentPlace.Description</p>
    @foreach(RPG.Models.Place place in Model.game.Places)
    { 
        <button type="submit" asp-page="/Game" asp-route="@Model.game.player.SetPlace(place)">@place.Name</button>
    }
</div>
