@page
@model RPG.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}

    <div class="text-center">
        <p>@Model.game.player.CurrentPlace.Description</p>
        @foreach (RPG.Models.Place place in Model.game.player.CurrentPlace.TravelPsb)
        {
            <div><a asp-page-handler="Travel" asp-route-placeName="@place.Name" class="btn btn-primary">@place.Name</a></div>
        }
    </div>
