@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Ahoj! Vítej v našem RPG!</p>
    <button type="submit" action="@Model.Play()">Začít hru</button>
</div>
